* {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  padding-top: 80px;
}

/* 헤더 영역 */
header {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 80px;
  text-align: center;
  z-index: 100000;
}

header > ul {
  display: flex;
  margin-top: 30px;
}

header > ul > li {
  width: 190px;
}

header ul > li > ul {
  display: none;
  background-color: white;
}

header ul > li:hover ul {
  display: block;
}

header ul > li > ul > li {
  margin: 20px 0;
}

header ul > li > ul > li > a:hover,
header ul > li > a:hover,
.now {
  font-weight: 600;
}

.logo {
  width: 150px;
  height: 60px;
  margin-top: 10px;
}

/* 푸터 영역 */
footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 300px;
  background-color: rgb(184, 184, 184);
  margin-top: 100px;
}

.footer_logo {
  filter: grayscale();
}

.SNS_img {
  width: 30px;
}

/* 메인페이지 -> 비주얼 영역 */
.slideBox {
  width: 1000px;
  height: 500px;
  margin: 0 auto;
  background-size: 100% 100%;
  animation: slideAnimation 12s infinite linear;
}

@keyframes slideAnimation {
  0%,
  30%,
  100% {
    background-image: url(/img/slide1.jpg);
  }

  33%,
  63% {
    background-image: url(/img/slide2.jpg);
  }

  66%,
  96% {
    background-image: url(/img/slide3.jpg);
  }
}

/* 메인페이지 -> 공지사항 영역 */
input[name="news"] {
  display: none;
}

.news {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
  text-align: center;
}

h1 {
  font-weight: 200;
  margin-bottom: 20px;
}

.news > div label {
  margin: 0 20px;
  cursor: pointer;
}

.news input:checked + label {
  font-weight: 800;
  font-size: 17px;
}

.news_table {
  justify-content: center;
  margin-top: 30px;
  display: none;
}

.news_table tr:hover {
  font-weight: 800;
}

#문화:checked ~ #문화Table,
#교육:checked ~ #교육Table,
#체험:checked ~ #체험Table {
  display: flex;
}

.news_table table td,
.news_table table th {
  border-bottom: 1px solid black;
  padding: 15px 20px;
}

.news_img {
  width: 100px;
  height: 100px;
  border-radius: 15px;
}

/* 메인페이지 -> 갤러리 영역 */
.gallery {
  text-align: center;
  margin-top: 50px;
}

#gallery_img1 {
  background-image: url(./img/gallery1.jpg);
  background-size: cover;
}

#gallery_img2 {
  background-image: url(./img/gallery2.jpg);
  background-size: cover;
}

#gallery_img3 {
  background-image: url(./img/gallery3.jpg);
  background-size: cover;
}

.scroll-container,
.scroll-area {
  max-width: 1000px;
  height: 600px;
  font-size: 60px;
}

.scroll-container {
  overflow: auto;
  scroll-snap-type: y mandatory;
}

.scroll-area {
  scroll-snap-align: start;
}

.scroll-container,
.scroll-area {
  margin: 0 auto;
}

.scroll-area {
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-area h4 {
  color: white;
  background-color: rgb(0, 0, 0, 0.7);
  font-weight: 200;
  border-radius: 10px;
}

/* 달빛기행축제란 페이지 -> 소개 영역 */
.information {
  background-image: url(./img/information_img.jpg);
  width: 1000px;
  height: 500px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.information p {
  margin: 30px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(0, 0, 0, 0.7);
  color: white;
}

/* 달빛기행축제란 페이지 -> 이용수칙 영역 */
.rule {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.rule ul li {
  margin: 10px;
  padding: 25px;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: white;
}

.rule ul li:hover {
  background-color: rgb(208, 208, 208);
}

/* 문화달력 페이지 */
.calendar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h2 {
  font-weight: 200;
}

.to_calender {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
  width: 1200px;
}

.calendar table th,
.calendar table td {
  padding: 10px 50px;
  padding-bottom: 60px;
  background-color: rgb(227, 227, 227);
  border-radius: 5px;
}

.guide {
  margin-top: 50px;
}

.guide_menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar_menu input {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
}

.guide_menu button,
.calendar_menu button,
.to_calender button {
  padding: 5px 10px;
  margin: 0 10px;
  border: 0;
  border-radius: 5px;
  background-color: black;
  color: white;
  cursor: pointer;
}

.guide_menu select {
  width: 70px;
  height: 30px;
  margin: 10px;
  text-align: center;
  border-radius: 5px;
}

.guide_table {
  display: flex;
  justify-content: center;
  text-align: center;
}

.guide_table td,
.guide_table th {
  border-bottom: 1px solid black;
}

.guide_table th {
  padding: 10px;
}

.guide_img {
  width: 80px;
  height: 80px;
  margin: 15px;
}
